<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

<!-- (1)appenderの設定 -->
  <appender name="DAILY" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="File" value="${catalina.home}/logs/ichiyazuke_web.log" />
  <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />

  <!-- すでにログが存在する場合、ファイルにログを追記 -->
  <param name="append" value="true" />

  <!-- (2)layoutの設定 -->
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d [%p]:%c:%m%n" />
  </layout>
</appender>

<!-- (3)categoryの設定 -->
<category name="action">
  <priority value="debug" />
  <appender-ref ref="DAILY" />
</category>

<category name="dao">
  <priority value="debug" />
  <appender-ref ref="DAILY" />
</category>

<category name="init">
  <priority value="debug" />
  <appender-ref ref="DAILY" />
</category>

<category name="servlet">
  <priority value="debug" />
  <appender-ref ref="DAILY" />
</category>

<category name="util">
  <priority value="debug" />
  <appender-ref ref="DAILY" />
</category>

</log4j:configuration>